doctype 5
heml
    head
        title= "rssreader"
        link(rel='stylesheet', href="/stylesheets/reader.css")
        script(type='text/javascript', src='/bootplate/enyo/enyo.js')
        script(type='text/javascript', src='/bootplate/package.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/javascripts/moment.js')
        script(type='text/javascript', src='/javascripts/rssreader/package.js')
        script(type='text/javascript')
            var socket = io.connect(window.location.protocol + '//' + window.location.host);
            var app = new App();

            socket.on('error occured', function(data){
                console.log('error occurred:%s', data.error.stack);
            });

            socket.on('load feeds done', function(data){
                console.log('load feeds done');
                app.refreshFeeds(data.feeds);
            });

            socket.on('load tags done', function(data){
                console.log('load tags done');
                app.refreshTags(data.tags);
            });

            socket.on('add feed done', function(){
                console.log('add feed done');
                socket.emit('load feeds');
            });

            socket.on('add tag done', function(){
                console.log('add tag done');
                socket.emit('load tags');
            });

            socket.on('load feed articles done', function(data){
                console.log('load feed articles done');
                console.log(data);
                app.setFeed(data.feed);
                app.refreshArticle(data.articles);
            });

            socket.on('refresh feed articles done', function(data){
                console.log('refresh feed articles done');
                app.refreshArticle(data.articles);
            });

            socket.on('load feed tags done', function(data){
                console.log('load feed tags done');
                app.refreshFeedSelectedTags(data.feedTags);
            });

            socket.emit('load feeds');
            socket.emit('load tags');
    body
        script
            app.write();

