.panels > * {
    /*width: 320px;*/
}

.app-panels > * {
    width: 320px;
}

.panel-collapsible > * {
    /*min-width: 250px;*/
    /*max-width: 250px;*/
}

.panel-main {
    max-width: 100%;
}

.panel-nav {
    background-color: gray;
}

.list-feeds-list {
    min-width: 300px;
    max-width: 600px;
	margin: auto;
	background-color: #eee;
}

.list-feeds-item {
    border: 1px solid silver;
    padding: 18px;
    font-size: 18px;
	font-weight: bold;
}

.list-tags-list {
    min-width: 300px;
    max-width: 600px;
    margin: auto;
	background-color: #eee;
}

.list-tags-item {
    border: 1px solid silver;
    padding: 18px;
    font-size: 18px;
	font-weight: bold;
}

.list-feeds-item-selected {
    background-color: #c4e3fe;
}

.list-articles-list {
    background-color: #eee;
}

.list-articles-item {
    border: 1px solid gray;
    padding: 18px;
    font-size: 14px;
}

.list-article-content {
    padding-top: 18px;
}

.expandable .list-article-content {
    display: none;
}

.expandable-selected .list-article-content {
    
}

.list-article-title {
    text-align: left;
    float: left;
}

.list-article-date {
    text-align: right;
}

.list-feedtags-item {
    border: 1px solid gray;
    padding: 18px;
    font-size: 14px;
    height: 80px;
}

.list-feedtags-item .checkbox {
    float: left;
}

.list-feedtags-item .tagname {
    float: left;
    padding-left: 15px;
}

.list-feedtags-item.selected {
    background-color: #c4e3fe;
}

@media all and (max-width: 800px) {
    .app-panels > * {
        min-width: 100%;
        max-width: 100%;
    }
}